<app-header [title]="'Carritos RealTime'"></app-header>
<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">carrito-realtime</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Listado de usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="contenedorUsers">
          <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser" alt="Avatar" src="assets/Lazcano.png"/>
            <ion-popover trigger="CarritoUser" triggerAction="click">
              <ng-template>
                <p class="ngcontent">
                  Nombre: Christian Lazcano <br>
                  Articulos: 2
                  <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
                </p>
              </ng-template>
            </ion-popover>
            <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser2" alt="Avatar" src="assets/Lazcano.png"/>
          <ion-popover trigger="CarritoUser2" triggerAction="click">
            <ng-template>
              <p class="ngcontent">
                Nombre: Damian Alburqueque <br>
                Articulos: 1
                <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
              </p>
            </ng-template>
          </ion-popover>
          <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser3" alt="Avatar" src="assets/Lazcano.png"/>
            <ion-popover trigger="CarritoUser3" triggerAction="click">
              <ng-template>
                <p class="ngcontent">
                  Nombre: Alonso Leiva <br>
                  Articulos: 4
                  <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
                </p>
              </ng-template>
            </ion-popover>
          <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser4" alt="Avatar" src="assets/Lazcano.png"/>
            <ion-popover trigger="CarritoUser4" triggerAction="click">
              <ng-template>
                <p class="ngcontent">
                  Nombre: Kevin Godoy <br>
                  Articulos: 6
                  <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
                </p>
              </ng-template>
            </ion-popover>
          <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser5" alt="Avatar" src="assets/Lazcano.png"/>
            <ion-popover trigger="CarritoUser5" triggerAction="click">
              <ng-template>
                <p class="ngcontent">
                  Nombre: Christian Lazcano <br>
                  Articulos: 2
                  <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
                </p>
              </ng-template>
            </ion-popover>
            <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser6" alt="Avatar" src="assets/Lazcano.png"/>
          <ion-popover trigger="CarritoUser6" triggerAction="click">
            <ng-template>
              <p class="ngcontent">
                Nombre: Damian Alburqueque <br>
                Articulos: 1
                <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
              </p>
            </ng-template>
          </ion-popover>
          <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser7" alt="Avatar" src="assets/Lazcano.png"/>
            <ion-popover trigger="CarritoUser7" triggerAction="click">
              <ng-template>
                <p class="ngcontent">
                  Nombre: Alonso Leiva <br>
                  Articulos: 4
                  <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
                </p>
              </ng-template>
            </ion-popover>
          <!--------------------------------------------------------------------------->
          <img class="foto-user" id="CarritoUser8" alt="Avatar" src="assets/Lazcano.png"/>
            <ion-popover trigger="CarritoUser8" triggerAction="click">
              <ng-template>
                <p class="ngcontent">
                  Nombre: Kevin Godoy <br>
                  Articulos: 6
                  <ion-button style="display: grid; place-items: center;;">Ver detalle</ion-button>
                </p>
              </ng-template>
            </ion-popover>
        </div>
        </ion-card-content>
  </ion-card>

</ion-content>
