<app-header [title]="'Perfil'"></app-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Perfil de Usuario</h1>
  <ion-grid>
    <ion-row class="border" align-items-center justify-content-center>
      <ion-col size="4" class="col-center">
        <div style="width: 150px; max-height: 150px;">
          <img class="foto-perfil" src="assets/Lazcano.png">
        </div>
      </ion-col>

      <ion-col size="8" class="text-columns">
        <div style="margin-top: 10px;">
          <h1>{{ localUserData.nombre }} {{ localUserData.apellido }}</h1>
          <p>{{ localUserData.email }}</p>
        </div>
          <ion-button size="small" class="boton" (click)="openModal()" style="margin-top: 10px;"><h1>Editar Perfil</h1></ion-button>
          <ion-button size="small" class="boton" (click)="openModal2()"><h1>Cambiar Contraseña</h1></ion-button>
      </ion-col>
    </ion-row>
    

    <ion-row class="border" style="margin-top: 20px;">
      <div style="width: 100%;">
      <h1 class="titulo">Información Personal</h1>
      </div>
      <ion-col size="5" class="texto-personal" style="margin-left: 5px; width: 50%;">
        <div>
        <h2>Nombre</h2>
        <p>{{ localUserData.nombre }} {{ localUserData.apellido }}</p>
      </div>
      </ion-col>
      <ion-col size="6" class="texto-personal" style="width: 50%;">
        <div>
        <h2>Correo Electrónico</h2>
        <p>{{ localUserData.email }}</p>
      </div>
      <!-------------------->
      </ion-col>
      <ion-col size="5" class="texto-personal" style="margin-left: 5px; width: 50%;">
        <div>
        <h2>Teléfono</h2>
        <p>+56 9 5363 1110</p>
      </div>
      </ion-col>
      <ion-col size="6" class="texto-personal" style="width: 50%;">
        <div>
        <h2>Dirección</h2>
        <p>Papasime 1526, Cerro Navia</p>
      </div>
      
      </ion-col>
    
    </ion-row>

  </ion-grid>
</ion-content>
