<app-header [title]="'Carrito de compras'"></app-header>

<ion-content>
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="assets/Lazcano.png" alt="Producto">
    </ion-avatar>
    <div>
      <h3>Christian Lazcano</h3>
      <p>Cantidad de artículos: 4</p>
    </div>
  </div>

  <ion-text class="product-list-title">
    <h2>Lista de productos</h2>
  </ion-text>

  <div class="product-list">
    <ion-card class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/FARO.png" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>Nombre</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, id?</p>
          <h2>$1000</h2>
          <p class="cantidad">Cantidad: 1</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <!----->
    <ion-card class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/FARO.png" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>Nombre</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, id?</p>
          <h2>$1000</h2>
          <p class="cantidad">Cantidad: 1</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <!----->
    <ion-card class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/FARO.png" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>Nombre</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, id?</p>
          <h2>$1000</h2>
          <p class="cantidad">Cantidad: 1</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <!----->
    <ion-card class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/FARO.png" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>Nombre</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, id?</p>
          <h2>$1000</h2>
          <p class="cantidad">Cantidad: 1</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <!----->
    <ion-card class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/FARO.png" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>Nombre</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, id?</p>
          <h2>$1000</h2>
          <p class="cantidad">Cantidad: 1</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <!----->
    <ion-card class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/FARO.png" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>Nombre</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, id?</p>
          <h2>$1000</h2>
          <p class="cantidad">Cantidad: 1</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

