<app-header [title]="'Carrito de compras'"></app-header>

<ion-content *ngIf="carritos">
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img [src]="carritos.imagen || 'assets/default-avatar.png'" alt="Persona">
    </ion-avatar>
    <div>
      <h3>{{carritos.nombre}} {{carritos.apellido}}</h3>
      <p>Cantidad de artículos: {{carritos.carrito?.cantidad || 0}}</p>
    </div>
  </div>

  <ion-text class="product-list-title">
    <h2>Lista de productos</h2>
  </ion-text>

  <div class="product-list">
    <ion-card *ngFor="let carrito of carritos.carrito.ref_carrito" class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="carrito.producto?.imagen || 'assets/default-product.png'" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>{{carrito.producto?.nombre || 'Producto sin nombre'}}</h3>
          <p>{{ carrito.producto?.descripcion?.slice(0, 70) || 'Sin descripción' }}...</p>
          <h2>${{carrito.producto?.precio || 0}}</h2>
          <p class="cantidad">Cantidad: {{carrito.cantidad || 0}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="!carritos">
  <p>No se encontraron datos del carrito.</p>
</ion-content>
