<app-header [title]="'Carrito de compras'"></app-header>

<ion-content>
  <div *ngFor="let user of carritos" class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="{{user.imagen}}" alt="Persona">
    </ion-avatar>
    <div>
      <h3>{{user.nombre}} {{user.apellido}}</h3>
      <p>Cantidad de artículos: {{user.carrito.cantidad}}</p>
    </div>
  </div>

  <ion-text class="product-list-title">
    <h2>Lista de productos</h2>
  </ion-text>

  <div class="product-list" *ngFor="let item of carritos">
    <ion-card *ngFor="let carrito of item.carrito.ref_carrito" class="product-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="{{carrito.producto.imagen}}" alt="Producto">
        </ion-thumbnail>
        <ion-label>
          <h3>{{carrito.producto.nombre}}</h3>
          <p>{{ carrito.producto.descripcion | truncate: 100 }}</p>
          <h2>${{carrito.producto.precio}}</h2>
          <p class="cantidad">Cantidad: {{carrito.cantidad}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <!----->
  </div>
</ion-content>

