<app-header [title]="'Carritos online'"></app-header>
<ion-header [translucent]="true"></ion-header>

<ion-content class="content">
  <ion-searchbar placeholder="Buscar usuarios..." show-cancel-button="focus"></ion-searchbar>
  <ion-text class="content">
    <h2>Listado de usuarios</h2>
  </ion-text>

  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/Lazcano.png" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h3>Nombre usuario</h3>
      </ion-label>
      <ion-button slot="end" size="small" (click)="irAlDetalle()" >Ver carrito</ion-button>
    </ion-item>
    <!------------------------------------------------------------------------------>
    <ion-item style="--border-width: 0;">
      <ion-avatar slot="start">
        <img src="assets/Lazcano.png" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h3>Nombre usuario</h3>
      </ion-label>
      <ion-button slot="end" size="small" (click)="irAlDetalle()">Ver carrito</ion-button>
    </ion-item>
  </ion-list>




</ion-content>
