ion-modal{
    ion-toolbar{
        --background: #0163AA;
        color: white;
        ion-button{
            width: 2rem;
        }
        ion-icon{
            font-size: 2rem;
        }
    }

ion-content{
    p{
        margin-left: 20px;
        font-size: 1.4rem;
    }
}
}


