<ion-content class="ion-padding">
  <div class="logo" style="text-align: center" color="secondary">
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
      <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
      <path d="M296 352h28a28 28 0 0028-28v-28M352 216v-28a28 28 0 00-28-28h-28M216 352h-28a28 28 0 01-28-28v-28M160 216v-28a28 28 0 0128-28h28" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
    </svg>
  </div>
  <div class="border" style="margin-top: 20%;">
  <h1>¿Olvidaste tu contraseña?</h1>
  <p>Ingresa tu email para que te mandemos un link para que puedas cambiar tu contraseña</p>

  <form [formGroup]="credentialsFP2" (ngSubmit)="check_otp()">
    <div class="form-group">
      <label>Codigo OTP</label>
      <div class="otp-inputs">
        <input type="text" maxlength="1" formControlName="codigo1" (input)="focusNext($event, 'codigo2')" (paste)="handlePaste($event)" (keydown)="handleBackspace($event, 'codigo1')" autocomplete="one-time-code"/>
        <input type="text" maxlength="1" formControlName="codigo2" (input)="focusNext($event, 'codigo3')" (paste)="handlePaste($event)" (keydown)="handleBackspace($event, 'codigo2')" autocomplete="one-time-code" />
        <input type="text" maxlength="1" formControlName="codigo3" (input)="focusNext($event, 'codigo4')" (paste)="handlePaste($event)" (keydown)="handleBackspace($event, 'codigo3')" autocomplete="one-time-code"/>
        <input type="text" maxlength="1" formControlName="codigo4" (input)="focusNext($event, 'codigo5')" (paste)="handlePaste($event)" (keydown)="handleBackspace($event, 'codigo4')" autocomplete="one-time-code"/>
        <input type="text" maxlength="1" formControlName="codigo5" (input)="focusNext($event, 'codigo6')" (paste)="handlePaste($event)" (keydown)="handleBackspace($event, 'codigo5')" autocomplete="one-time-code"/>
        <input type="text" maxlength="1" formControlName="codigo6" (input)="focusNext($event, 'codigo7')" (paste)="handlePaste($event)" (keydown)="handleBackspace($event, 'codigo6')" autocomplete="one-time-code"/>
      </div>
    </div>
    <ion-button type="submit" expand="block" strong="true" color="dark" [disabled]="!credentialsFP2.valid">Verificar</ion-button>
    <ion-button (click)="routerLink()" color="secondary" expand="block" style="margin-top: 10px;">Cancelar</ion-button>
  </form>
</div>

</ion-content>