<app-header [title]="'Inicio'"></app-header>


<ion-content class="ion-padding">
  <h1>Bienvenido, Kevin!</h1>
  <p>Explora las diferentes funciones que tenemos para ti</p>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let itemHome of itemsHome">
        <ion-card class="icon-card">
          <ion-card-header color="secondary" (click)="redirigir(itemHome.route)">
            <ion-icon [name]="itemHome.icon" size="large"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ itemHome.titulo }}</h2>
            <p>{{ itemHome.descripcion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
