<app-header [title]="'Escaneo'"></app-header>
<ion-content class="ion-padding">
  <h1>Bienvenido {{datosUser.nombre}}</h1>
  <!-- @if(!scanResult){ -->
    <h3>¡Escanea un producto!</h3>
    <p>Recuerda que el producto debe tener un codigo similar a este:</p>
    <img src="assets/EAN13.png" alt="Codigo de barra">
  <!-- }@else { -->
    <ion-modal
    #productScanned
    [isOpen]="isScanned"
    (didDismiss)="isScanned=false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>¡Has escaneado el producto!</ion-title>
          <ion-buttons slot="end">
            <ion-button style="width: 40px; height: 40px;" (click)="productScanned.dismiss()">
              <ion-icon name="close-outline" style="font-size: 100px;"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="product-image-container">
          <img src="{{productoEscaneado.imagen}}" alt="Producto escaneado" />
        </div>
        <ion-card-content>
          <div class="product-info">
            <div class="product-title-row">
              <h2>{{productoEscaneado.nombre}}</h2>
              <ion-badge color="secondary">AutoPlanet</ion-badge>
            </div>
            <div class="product-price">
              <span class="price">${{productoEscaneado.precio | formatoDinero }}</span>
              <span class="currency">CLP</span>
            </div>
          </div>

          <ion-item-divider></ion-item-divider>

          <div class="product-details">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-text color="medium">Año:</ion-text>
                  <p>{{productoEscaneado.annio}}</p>
                </ion-col>
                <ion-col size="6">
                  <ion-text color="medium">Categoría:</ion-text>
                  <p>{{productoEscaneado.categoria.nombre}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-text color="medium">Marca:</ion-text>
                  <p>{{productoEscaneado.marca}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <div class="description">
                    <ion-text color="medium">Descripción:</ion-text>
                    <p>
                      {{productoEscaneado.descripcion}}
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>

          <div class="quantity-selector">
            <ion-button fill="clear" (click)="restarCantidad()">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <span>{{cantidad}}</span>
            <ion-button fill="clear" (click)="incrementarCantidad()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>

          <ion-button expand="block"  (click)="agregarProducto()">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            Agregar al carrito
          </ion-button>
          <ion-button expand="block" color="secondary" >
            Pagar ahora
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-content>
    </ng-template>

    </ion-modal>

  <!-- } -->
  <ion-button style="width: 80%; margin-bottom: 10%; margin-left: 10%; margin-right: 10%;" (click)="scanBarcode()">Iniciar Escaneo</ion-button> 




</ion-content>
