<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="light">
        <ion-icon name="close-outline" style="font-size: 2.0rem;font-weight: bold;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 1.rem;font-weight: bold;">Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmarCambios()" [strong]="true" style="font-size: 1.4rem;font-weight: bold;">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centrar">
    <div class="image-container">
      <img [src]="profileData.imagen || 'assets/Lazcano.png'" alt="Profile picture">
      <label for="file-input" class="editar-icono">
        <ion-icon name="image-outline"></ion-icon>
      </label>
      <input 
        type="file" 
        id="file-input" 
        accept="image/*" 
        (change)="onFileSelected($event)" 
        style="display: none;">
    </div>
  </div>

  <ion-item>
    <ion-input 
      labelPlacement="stacked" 
      label="Nombre"
      [(ngModel)]="profileData.nombre">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input 
      labelPlacement="stacked" 
      label="Apellido"
      [(ngModel)]="profileData.apellido">
    </ion-input>
  </ion-item>
</ion-content>