<app-header [title]="'Detalle de carrito'"></app-header>
<ion-content class="card-detalle">
  <ion-card>
    <ion-card-content style="background-color: rgb(243, 243, 243);">
      <div class="contenedor-perfil">
        <img class="img-perfil" src="assets/Lazcano.png">
        <div class="info-perfil">
          <h2>Nombre: Christian Lazcano <br>
            Cantidad de articulos: 9
          </h2>
        </div>
      </div>

      <!-------------->
      <h2 style="margin: 10px; padding-top: 5px; padding-bottom: 5px;">Lista de productos</h2>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
      <!-------------->
      <div class="content-carrito">
        <div>
          <img class="imgcarrito" src="assets/FARO.png">
        </div>
        <div>
          <h2>Name Producto</h2>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, explicabo?</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab class="volver-footer" slot="fixed">
    <ion-button class="buttons" (click)="irCarritoRealtime()">Volver</ion-button>
</ion-fab>
</ion-content>