* {
    font-family: "Inter", sans-serif;
}

.content-form {
    margin: 10px;
    padding: 10px;
    border: solid 1px rgb(182, 182, 182);
    border-radius: 5%;
}

.content-labels {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    margin-bottom: 10px;
}

.content-labels > div > img {
    border-radius: 5%;
    width: 200px;
}

.content-labels > label {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left; 
}

.content-labels > input,
.content-labels > select {
    height: 40px; 
    border: solid rgb(196, 196, 196) 1px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.invalid-input {
    border: 2px solid red !important;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: left;
}

.content-labels > div {
    display: flex;
    flex-direction: column;
}
