<app-header [title]="'Inicio'"></app-header>


<ion-content class="ion-padding">
  <h1>Bienvenido, {{usuario.nombre}}! </h1>
  <p>Explora las diferentes funciones que tenemos para ti</p>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let itemHome of itemsHome">
        <ion-card class="icon-card" [routerLink]="itemHome.link">
          <ion-card-header color="secondary">
            <ion-icon [name]="itemHome.icon" size="large"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ itemHome.titulo }}</h2>
            <p>{{ itemHome.descripcion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- Custom bottom navigation bar -->

<ion-footer>
  <div class="bottom-nav">
    <ion-buttons class="nav-item" fill="clear">
      <ion-icon name="home"></ion-icon>
      <span>Inicio</span>
    </ion-buttons>

    <ion-buttons class="nav-item scan-button" fill="clear" (click)="goToScanner()">
      <div class="scan-circle">
        <ion-icon name="scan"></ion-icon>
      </div>
      <span>Escanear</span>
    </ion-buttons>

    <ion-buttons class="nav-item" fill="clear">
      <ion-icon name="settings"></ion-icon>
      <span>Configuracion</span>
    </ion-buttons>
  </div>
</ion-footer>

</ion-content>


