<app-header [title]="'Perfil'"></app-header>


<ion-content class="ion-padding">
  <ion-card class="profile-card">
    <ion-card-content>
      <div class="profile-header">
        <ion-avatar class="large-avatar">
          <img [src]="localUserData.imagen" />
        </ion-avatar>
        <h2>{{ localUserData.nombre }} {{ localUserData.apellido }}</h2>
        <p>{{ localUserData.email }}</p>
        <div class="action-buttons">
          <ion-button size="small" expand="block" (click)="openModal()" class="edit-button">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Editar Perfil
          </ion-button>
          <ion-button size="small" expand="block" fill="outline" (click)="openModal2()" class="password-button">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            Cambiar Contraseña
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-card">
    <ion-card-content>
      <h3 class="section-title">Información Personal</h3>
      
      <div class="info-grid">
        <div class="info-item">
          <p class="label-text">Teléfono</p>
          <div class="info-row">
            <ion-icon name="call-outline"></ion-icon>
            <h2>{{ localUserData.numero === null ? 'Sin información' : localUserData.numero }}</h2>
          </div>
        </div>

        <div class="info-item">
          <p class="label-text">Dirección</p>
          <div class="info-row">
            <ion-icon name="location-outline"></ion-icon>
            <h2>{{ localUserData.direccion}}</h2>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="bottom-nav">
    <ion-buttons class="nav-item" fill="clear" (click)="goToHome()" >
      <ion-icon name="home"></ion-icon>
      <span>Inicio</span>
    </ion-buttons>

    <ion-buttons class="nav-item scan-button" fill="clear" (click)="goToScanner()">
      <div class="scan-circle">
        <ion-icon name="scan"></ion-icon>
      </div>
      <span>Escanear</span>
    </ion-buttons>

    <ion-buttons class="nav-item" fill="clear">
      <ion-icon name="settings"></ion-icon>
      <span>Configuracion</span>
    </ion-buttons>
  </div>
</ion-footer>

