<app-header [title]="'Perfil'"></app-header>


<ion-content class="ion-padding">
  <ion-card class="profile-card">
    <ion-card-content>
      <div class="profile-header">
        <ion-avatar class="large-avatar">
          <img [src]="localUserData.imagen" />
        </ion-avatar>
        <h2>{{ localUserData.nombre }} {{ localUserData.apellido }}</h2>
        <p>{{ localUserData.email }}</p>
        <div class="action-buttons">
          <ion-button size="small" expand="block" (click)="openModal()" class="edit-button">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Editar Perfil
          </ion-button>
          <ion-button size="small" expand="block" fill="outline" (click)="openModal2()" class="password-button">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            Cambiar Contraseña
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="info-card">
    <ion-card-content>
      <h3 class="section-title">Información Personal</h3>
      
      <div class="info-grid">
        <div class="info-item">
          <p class="label-text">Teléfono</p>
          <div class="info-row">
            <ion-icon name="call-outline"></ion-icon>
            <h2>+56953631110</h2>
          </div>
        </div>

        <div class="info-item">
          <p class="label-text">Dirección</p>
          <div class="info-row">
            <ion-icon name="location-outline"></ion-icon>
            <h2>Papasime 1526, Cerro Navia</h2>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
