.custom-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
    margin-bottom: 1rem;

    ion-label {
      font-size: bold;
      margin-bottom: 8px;
    }
  }

  ion-list {
    background: transparent;
    padding: 0;
  }