<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="light">
        <ion-icon name="close-outline" style="font-size: 2.0rem;font-weight: bold;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 1.rem;font-weight: bold;">Editar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" style="font-size: 1.4rem;font-weight: bold;">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="password-form">
    <ion-list lines="full">
      <ion-item class="custom-item">
        <ion-label position="stacked">Contraseña Actual</ion-label>
        <ion-input
          [(ngModel)]="currentPassword"
          [type]="showCurrentPassword ? 'text' : 'password'"
          placeholder="············"
          class="custom-input">
        </ion-input>
        <ion-button 
          fill="clear" 
          slot="end" 
          (click)="togglePasswordVisibility('current')"
          class="visibility-toggle">
          <ion-icon 
            [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'"
            color="medium">
          </ion-icon>
        </ion-button>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input
          [(ngModel)]="newPassword"
          [type]="showNewPassword ? 'text' : 'password'"
          placeholder="············"
          class="custom-input">
        </ion-input>
        <ion-button 
          fill="clear" 
          slot="end" 
          (click)="togglePasswordVisibility('new')"
          class="visibility-toggle">
          <ion-icon 
            [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'"
            color="medium">
          </ion-icon>
        </ion-button>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Confirme Contraseña</ion-label>
        <ion-input
          [(ngModel)]="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="············"
          class="custom-input">
        </ion-input>
        <ion-button 
          fill="clear" 
          slot="end" 
          (click)="togglePasswordVisibility('confirm')"
          class="visibility-toggle">
          <ion-icon 
            [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
            color="medium">
          </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
