<ion-content class="ion-padding">
  <div class="border" style="margin-top: 20%;">
  <div class="logo" style="text-align: center">
    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 22L12 2L22 22H2Z" stroke="#4285F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <h1>Bienvenido a ScanBuy!</h1>
  <p>Ingresa tus credenciales para iniciar sesión</p>

  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="ch.lazcano@autoplanet.cl">
    </div>
    <div class="form-group">
      <label for="email">Contraseña</label>
      <input type="password" id="password">
    </div>


    <ion-button routerLink="/registro" color="dark" expand="block">Iniciar Sesión</ion-button>
    <ion-button color="secondary" expand="block" style="margin-top: 10px;">Registrar</ion-button>

    <p class="forgot-password">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </p>
  </form>
</div>

</ion-content>